form {
  margin: 0 auto;
  width: 600px;
  padding: 10px;
  border: 1px solid #CCC;
  border-radius: 1em;
background-color:#89ceff;
background-image: linear-gradient(
  315deg,
  #89ceff 0%,
  #dcb5ff 70%,
  #ffc8f0 100%
  );
}

.body {
background-image: url('../images/background.jpg');
max-width: 500px;
margin: auto;
}
.page-footer{
background-color:cyan; 
}
.modal-body{
padding: 2px 16px;
color:black;
background-color: aqua;
}
.modal-header{
color:black;

}

/* Cart Daniel Hahn */

#cart-container {
  overflow-x: auto;
}

#cart-container table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  white-space: nowrap;
}

#cart-container table thead {
  font-weight: 700;
}

#cart-container table thead td {
  background: cyan;
  color: #fff;
  border: none;
  padding: 6px 0;
}

#cart-container table td {
  border: 1px solid #b6b3b3;
  text-align: center;
}

#cart-container table td:nth-child(1) {
  width: 100px;
}

#cart-container table td:nth-child(2),
#cart-container table td:nth-child(3) {
  width: 200px;
}

#cart-container table td:nth-child(4),
#cart-container table td:nth-child(5),
#cart-container table td:nth-child(6) {
  width: 170px;
}

#cart-container table tbody img {
  width: 100px;
  height: 80px;
  object-fit: cover;
}

#cart-container table tbody i {
  color: grey;
}

#cart-bottom .discount>div,
#cart-bottom .total>div {
  border: 1px solid #b6b3b3;

}

#cart-bottom .discount h5,
#cart-bottom .total h5 {
  background: cyan;
  color: #fff;
  border: none;
  padding: 6px 12px;
  font-weight: 700;
}

#cart-bottom .discount p,
#cart-bottom .discount input {
  padding: 0 12px;
}

#cart-bottom .discount input {
  height: 44px;
}
#cart-bottom .discount input,
#cart-bottom .discount button {
  margin: 0 0 20px 12px;
}

#cart-bottom .total div>div {
  padding: 0 12px;
}

#cart-bottom .total h6 {
  color: black;
}

.second-hr {
  background: grey;
  width: 100%;
  height: 1px;;
}

#cart-bottom .total div>button {
  margin: 0 12px 20px 0;
  display: flex;
  justify-content: flex-end;
}
#form {
  margin: 0 auto;
  width: 600px;
  padding: 10px;
  
  
background-color:#89ceff;
background-image: linear-gradient(
  315deg,
  #89ceff 0%,
  #dcb5ff 70%,
  #ffc8f0 100%
  ); 
 
}

.body {
max-width: 500px;
margin: auto;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.page-footer{
background-color: rgb(108, 236, 103);
color:black;
}
#footercontact{
  color:black;
}
.modal-content{
  padding: 20px 20px 20px 20px;
  -webkit-animation-name: modal-animation;
  -webkit-animation-duration: 0.5s;
  animation-name: modal-animation;
  animation-duration: 0.5s; 
 
}

.modal-title{
font-size: 170%;


}
.modal-body{
padding: 2px 16px;
color:black;
background-color: gainsboro;
font-size: 150%;
font-style: italic;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.modal-header{
color:black;
background-color: cyan;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 150%; 
}
#navbarNav{
  height: 150px;

  
}
#navbarDropdown{
  color:rgb(33, 177, 33);
}
.nav-item{
  color:rgb(33, 177, 33);
  padding: 20px;
}
#Homeandreviews{
  color:rgb(33, 177, 33);
}
#cartnavbar{
  background-color:rgb(247, 211, 7);
  color:black;
}
.navbar-nav{
  font-size:x-large;
  
}
.dropdown-item{
  font-size:x-large;
 background-color:floralwhite;
 font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  
}
.cartbutton{
  padding: 20px;
  
}
.cart{
  padding: 20px;
}
li a:hover {
  background-color:rgb(247, 211, 7);;
}